{% extends 'admin/base.html.twig' %}

{% block mainadmin %}
    <h2>Upload a video</h2>

    <div class="app-user-vimeo-token" data-user-token="{{ app.user.vimeoApiKey }}"></div>
    {# this form was taken  and adapted from postman request for a post Postman extension#}

    <form method="POST" id="form-upload" action="#" enctype="multipart/form-data">
        <div class="form-group">
            <div class="custom-file">
                <input type="file" name="file_data" class="custom-file-input" id="customFile" onchange="onFormChange()">
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
        </div>
        <button type="submit" id="submit-button" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}

{% block customjavascripts %}
    {{parent()}}
    <script>

        var userVimeoToken = null;
        // equvalent to jquery document.ready()
        document.addEventListener('DOMContentLoaded', function() {
            var userVimeoTokenDiv = document.querySelector('.app-user-vimeo-token'); // take user token from above form
            userVimeoToken = userVimeoTokenDiv.dataset.userToken;
        });


        function onFormChange()
        {
            // diable submit button until external request is finished
            document.getElementById("submit-button").disabled = true;
            document.getElementById("submit-button").innerHTML = 'Wait ....';

            var fileName = document.getElementById('customFile').files.item(0).name;
            fileName =  fileName.replace(/\.[^.]+$/, ''); // remove extension from file to leave legit file name

            // this data is sent to vimeo with parameters as file name  upload redirect url and post and video file name
            // more options can be find on www.developer.vimeo.com/api/reference/videos#upload_video
            var data = "upload.approach=post&name="+fileName+"&privacy.view=anybody&upload.redirect_url={{url('upload_video_by_vimeo')}}?videoName%3D"+fileName;


            //send data to vimeo
            var xhr = new XMLHttpRequest();

            //listen for a response from vimeo
            xhr.addEventListener("readystatechange", function () {
                if (this.readyState === 4) {
                    // getting upload address
                    var myObj = JSON.parse(this.responseText);
                     // console.log(myObj.upload.form);

                    document.getElementById("submit-button").disabled = false;
                    document.getElementById("submit-button").innerHTML = 'You can now upload the video';
                    // upload video
                    document.getElementById('form-upload').action = myObj.upload.upload_link;

                }
            });

            //send data to vimeo
            xhr.open("POST", "https://api.vimeo.com/me/videos"); // post type ajax request
            xhr.setRequestHeader("Accept", "application/vnd.vimeo.*+json;version=3.4");
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.setRequestHeader("Authorization", "Bearer " + userVimeoToken);

            xhr.send(data);

        }

    </script>
{% endblock %}