{% extends 'base.html.twig' %}

     {% set videoid = video.path %}
{% block main %}

<br>
<h1>{{video.title}}</h1>

<div align="center" class="embed-responsive embed-responsive-16by9">
    <iframe class="" src="{{ videoid }}" frameborder="0" allowfullscreen></iframe>
</div>

<hr>
{% endblock %}
